<div>
    <h2 id="page-heading">
        <span>Movies</span>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-movie" [routerLink]="['/movie/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Movie
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="movies">
        <table class="table table-striped">
            <thead>
            <tr>
            <th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span>ID</span></th>
            <th><span>Title</span></th>
            <th><span>Genre</span></th>
            <th><span>Description</span></th>
            <th><span>Image</span></th>
            <th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span>Qty In Stock</span></th>
            <th><span>Price</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let movie of movies ;trackBy: trackId">
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'"><a [routerLink]="['/movie', movie.id, 'view' ]">{{movie.id}}</a></td>
                <td>{{movie.title}}</td>
                <td>{{movie.genre}}</td>
                <td>{{movie.description}}</td>
                <td>
                    <a *ngIf="movie.image" (click)="openFile(movie.imageContentType, movie.image)">
                        <img [src]="'data:' + movie.imageContentType + ';base64,' + movie.image" style="max-height: 100px;" alt="movie image"/>
                    </a>
                    <div *jhiHasAnyAuthority="'ROLE_ADMIN'" >
                        <span *ngIf="movie.image" >{{movie.imageContentType}}, {{byteSize(movie.image)}}</span>
                    </div>
                </td>
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'">{{movie.qtyInStock}}</td>
                <td>{{movie.price | currency}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/movie', movie.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                (click)="addToCart(movie.id)"
                                class="btn btn-success btn-sm">
                            <fa-icon [icon]="'shopping-basket'"></fa-icon>
                            <span class="d-none d-md-inline">Add to Cart</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['/movie', movie.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['/', 'movie', { outlets: { popup: movie.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
