<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orderHistory">
            <h2><span>Order History</span> {{orderHistory.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Account Name</span></dt>
                <dd>
                    <span>{{orderHistory.accountName}}</span>
                </dd>
                <dt><span>Order Status</span></dt>
                <dd>
                    <span>{{orderHistory.orderStatus}}</span>
                </dd>
                <dt><span>Order Date</span></dt>
                <dd>
                    <span>{{orderHistory.orderDate}}</span>
                </dd>
                <dt><span>Movie Title</span></dt>
                <dd>
                    <span>{{orderHistory.movieTitle}}</span>
                </dd>
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{orderHistory.quantity}}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{orderHistory.price}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
                    [routerLink]="['/order-history', orderHistory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
